@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 375px;
  width: 100%;
  margin: 0;
  line-height: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.bitmap-parent {
  width: 375px;
  align-self: center;
  height: 22.063rem;
  position: relative;
  font-size: 0.938rem;
  color: #fbfcfe;
  font-family: "Public Sans";
  background-image: url(../images/bitmap.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-color: #1b262f;
}

.bitmap-parent * {
  position: absolute;
}

.bitmap-icon .img {
  object-fit: cover;
}

.group-child {
  top: 2.563rem;
  left: 7.5rem;
  width: 8.438rem;
  height: 2.375rem;
  object-fit: cover;
}

.pricing-parent {
  top: 7.438rem;
  left: 9.938rem;
  width: 3.925rem;
  height: 7.188rem;
  overflow: hidden;
  mix-blend-mode: normal;
}

.pricing {
  top: calc(50% - 57.5px);
  left: 5.17%;
}

.about {
  top: calc(50% - 8.5px);
  left: 12.07%;
  transform: translateX(4px);
}

.contact {
  top: calc(50% + 40.5px);
  left: 0%;
}

.path-parent {
  top: 17.125rem;
  left: 8rem;
  width: 7.5rem;
  height: 1.5rem;
}

.path-icon {
  top: 0rem;
  left: 0rem;
  width: 1.5rem;
  height: 1.5rem;
}

.path-icon2 {
  top: 0.141rem;
  left: 3rem;
  width: 1.5rem;
  height: 1.219rem;
}

.shape-icon {
  top: 0rem;
  left: 6rem;
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 768px) {

.bitmap-parent {
    background-image: url(../images/bitmap-decktop.png);
    width: 48rem;
    height: 6.25rem;
    font-size: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: #1b262f;
  }

  .bitmap-icon {
    width: 100%;
    height: inherit;
    object-fit: contain;
  }

  .group-child {
    position: absolute;
    top: 1.94rem;
    left: 2.44rem;
    bottom: 1.94rem;
    overflow: hidden;
    width: 8.4375rem;
    height: 2.375rem;
  }

  .pricing-parent.tablet {
    height: 100%;
    width: 69%;
    top: 0.1%;
    left: 14.88rem;
    right: 0;
    bottom: 0%;
    font-size: 0.9375rem;
  }

  .pricing.tablet {
    top: calc(50% - 8px);
    left: 0;
    opacity: 0.7;
    width: 33%;
    height: 33%;
  }

  .about.tablet {
    top: calc(50% - 8px);
    left: 16.5%;
    opacity: 0.7;
    width: 33%;
    height: 33%;
  }

  .contact.tablet {
    top: calc(50% - 8px);
    left: 33%;
    opacity: 0.7;
    width: 33%;
    height: 33%;
  }

  .path-parent {
    top: 2.5rem;
    bottom: 2.5rem;
    left: 38rem;
    width: 7.5rem;
    height: 1.5rem;
  }

  .path-icon {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    
  }

  .path-icon2 {
    top: 2.25px;
    left: 48px;
    width: 24px;
    height: 19.5px;
  }

  .shape-icon {
    top: 0px;
    left: 96px;
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1440px) {

  .bitmap-parent {
    background-image: url(../images/bitmap-decktop.png);
    width: 90rem;
    height: 6.25rem;
    font-size: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: #1b262f;
  }

  .bitmap-icon {
    width: 100%;
    height: inherit;
    object-fit: contain;
  }

  .group-child {
    position: absolute;
    top: 1.94rem;
    left: 10rem;
    bottom: 1.94rem;
    overflow: hidden;
    width: 8.4375rem;
    height: 2.375rem;
  }

  .pricing-parent.dtop {
    height: 100%;
    width: 31.25%;
    top: 0.1%;
    left: 21%;
    right: 0;
    bottom: 0%;
    font-size: 0.9375rem;
  }

  .pricing.dtop {
    top: calc(50% - 8px);
    left: 12%;
    opacity: 0.7;
    width: 33%;
    height: 33%;
  }

  .about.dtop {
    top: calc(50% - 8px);
    left: 32%;
    opacity: 0.7;
    width: 33%;
    height: 33%;
  }

  .contact.dtop {
    top: calc(50% - 8px);
    left: 50%;
    opacity: 0.7;
    width: 33%;
    height: 33%;
  }

  .path-parent {
    top: 2.5rem;
    bottom: 2.5rem;
    left: 72.1875rem;
    width: 7.5rem;
    height: 1.5rem;
  }

  .path-icon {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    
  }

  .path-icon2 {
    top: 2.25px;
    left: 48px;
    width: 24px;
    height: 19.5px;
  }

  .shape-icon {
    top: 0px;
    left: 96px;
    width: 24px;
    height: 24px;
  }

}