* {
 	box-sizing: border-box;
 	margin: 0;
 	padding: 0;
 }

 body {
 	max-width: 375px;
 	margin: 0;
 	line-height: normal;
 }

 a {
 	color: inherit;
 	text-decoration: none;
 }

 .parent {
 	border: thin solid #434140;
 	position: relative;
 	width: 100%;
 	height: 41.688rem;
 }

 .bitmap-icon3 {
 	position: absolute;
 	top: 7.2%;
 	right: 9%;
 	bottom: 89.36%;
 	left: 83.67%;
 	max-width: 100%;
 	aspect-ratio: 1/1;
 	overflow: hidden;
 	object-fit: cover;
 }

 .bitmap-group {
 	display: none;
 	position: absolute;
 	top: 0rem;
 	left: 4.688rem;
 	width: 18.75rem;
 	height: 41.688rem;
 	overflow: hidden;
 	flex-shrink: 0;
 	text-align: center;
 	font-size: 1.25rem;
 	color: #fbfcfe;
 	background-image: url(../images/bitmap2.png);
 }

 .group-icon {
 	position: absolute;
 	height: 3.45%;
 	width: 7.33%;
 	top: 7.2%;
 	right: 9%;
 	bottom: 89.36%;
 	left: 83.67%;
 	max-width: 100%;
 	overflow: hidden;
 	max-height: 100%;
 	object-fit: cover;
 }

 .pricing {
 	
 	width: 83%;
 	
 	left: 8%;
 	display: inline-block;
 	opacity: 0.7;
 	mix-blend-mode: normal;
 }

 .about {
 	position: absolute;
 	width: 83%;
 	
 	left: 8%;
 	display: inline-block;
 	opacity: 0.7;
 	mix-blend-mode: normal;
 }

 .contact {
 	position: absolute;
 	width: 83%;
 	
 	left: 8%;
 	display: inline-block;
 	opacity: 0.7;
 
 }

 .group-2-copy3 {
 	position: absolute;
 	height: 7.2%;
 	width: 84%;
 	top: 46.03%;
 	right: 8%;
 	bottom: 46.78%;
 	left: 8%;
 	overflow: hidden;
 	font-size: 0.938rem;
 }

 .rectangle5 {
 	position: absolute;
 	height: 100%;
 	width: 100%;
 	top: 0%;
 	right: 0%;
 	bottom: 0%;
 	left: 0%;
 	box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
 	border-radius: 24px;
 	background-color: #ba4270;
 }

 .schedule-a-demo2 {
 	position: absolute;
 	width: 70.63%;
 	top: calc(50% - 8px);
 	left: 15.08%;
 	letter-spacing: -0.12px;
 	display: inline-block;
 }

 .rectangle6 {
 	position: absolute;
 	height: 0.15%;
 	width: 83%;
 	top: 14.24%;
 	right: 9%;
 	bottom: 85.61%;
 	left: 8%;
 	background-color: #fbfcfe;
 	opacity: 0.15;
 	mix-blend-mode: normal;
 }