<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link rel="stylesheet" href="./mobile-menu.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
<title>mobile-menu</title>


</head>

<body>
    <div class="bitmap-parent parent">
        <img id="bitmap-icon3" src="../images/group_mb_open.svg" class="bitmap-icon3" alt="background img">
        <nav id="bitmap-group" class="bitmap-group">
            <img id="group-icon" src="../images/group_mb_close.svg" class="group-icon" alt="logo">
            <b class="pricing"><a href="../pages/mobile_pricing.html">Pricing</a></b>
            <b class="about"><a href="../pages/mobile_about.html">About</a></b>
            <b class="contact"><a href="../pages/mobile_contact.html">Contact</a></b>
            <div class="group-2-copy3">
                <div class="rectangle5">
                </div>
                <b class="schedule-a-demo2"><a href="#demo">Schedule a Demo</a></b>
            </div>
        </nav>
    </div>
    <script src="mobile-menu.js"></script>
</body>

</html>