    <div class="wrapper" id="wrapper">
    <nav>
      <input type="checkbox" id="menu" name="menu" class="m-menu__checkbox">
      <label class="m-menu__toggle" for="menu" onclick="toggleDropDownMenu()">
        <svg class="hamburger-menu" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#36536B" stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </label>
      <label class="m-menu__overlay" for="menu"></label>
    
      <div class="m-menu" id="m-menu">
        <div class="m-menu__header">
          <label class="m-menu__toggle" for="menu" onclick="toggleDropDownMenu()">
            <svg class="hamburger-menu-close" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#FBFCFE" stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs">
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </label>
        </div>
        <div class="nav-links">
          <p class="nav-links-p-element">Pricing</p>
          <p class="nav-links-p-element">About</p>
          <p class="nav-links-p-element">Contact</p>

          <button class="schedule-a-demo2"><a href="#demo">Schedule a Demo</a></button>
        </div>
              
      </div>
    </nav>
  </div>