body {
  background-color: var(--color-background);
  cursor: default;
  position: relative;
}
.page-container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding-inline: 24px;
  padding-block: 80px;
}
.page-main {
  margin-bottom: 2rem;
}
.page-header {
  padding-bottom: 40px;

  position: relative;
  --ball-size: 720px;
  --ball-height: var(--ball-size);
  --ball-top: -240px;
  --ball-right: -260px;
}
.page-header__text {
  font: var(--h3-DM-large);
  color: var(--color-secondary-SanJuanBlue);
  text-align: center;
}
.page-header__grey-ball {
  width: 480px;
  height: 390px;
  background-color: var(--color-secondary-SanJuanBlue-25);
  border-radius: 50%;
  position: absolute;
  top: -240px;
  right: var(--ball-right);
}

.form__input {
  height: 42px;
}
.form__textarea {
  height: 89px;
}
.form__input,
.form__textarea {
  width: 100%;
  margin-bottom: 25px;
  padding-left: 20px;
  background-color: var(--color-background);
  border: none;
  border-bottom: 1px solid var(--color-secondary-SanJuanBlue-50);
  outline: none;
  font: var(--body-sans);
  color: var(--color-secondary-SanJuanBlue);
  letter-spacing: -0.115px;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: var(--color-secondary-SanJuanBlue);
  opacity: 0.5;
  font: var(--body-sans);
  letter-spacing: -0.115px;
}
.form__input:hover,
.form__textarea:hover {
  cursor: pointer;
}

.form__input:focus,
.form__textarea:focus {
  border-bottom: 1px solid var(--color-secondary-SanJuanBlue);
}
.form__error {
  color: var(--color-error);
  font: var(--error-text);
  letter-spacing: 0.085px;
  padding-left: 20px;
  top: 7px;
  padding-bottom: 5px;
  position: relative;
}

.form__input.error,
.form__textarea.error {
  color: var(--color-error);
  border-color: var(--color-error);
  opacity: 1;
  margin: 0px;
}

.form__input.error::placeholder,
.form__textarea.error::placeholder {
  color: var(--color-error);
  opacity: 1;
}

.form-checkbox {
  display: flex;
  align-items: center;
  gap: 18px;
  position: relative;
}

.form-checkbox__input {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
  cursor: pointer;
}

.form-checkbox__custom {
  width: 24px;
  height: 24px;
  background-color: var(--color-secondary-SanJuanBlue-25);
  flex-shrink: 0;
}

.form-checkbox__input:checked + .form-checkbox__custom {
  background-color: var(--color-primary-DarkPink);
  background-image: url("/images/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 8px;
}
.form-checkbox__text {
  color: var(--color-secondary-SanJuanBlue);
  font: var(--body-sans);
  letter-spacing: -0.115px;
}

.form__button {
  width: 152px;
  height: 48px;
  margin-top: 24px;
  border: var(--color-secondary-SanJuanBlue) 1px solid;
  border-radius: 24px;
  font: var(--body-sans);
  font-weight: bold;
  color: var(--color-secondary-SanJuanBlue);
  background-color: var(--color-background);
  letter-spacing: -0.115px;
}

.form__button:hover {
  background-color: var(--color-secondary-SanJuanBlue);
  color: var(--color-primary-LinkWaterWhite);
  cursor: pointer;
}
.client-text {
  font: var(--h4-DM);
  text-align: center;
  padding-top: 80px;
}

.clients_logo .clients__wrap {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 40px;
  justify-items: center;
  padding-top: 32px;
}

@media (min-width: 768px) {
  .clients_logo .clients__wrap {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 40px;
    justify-items: center;
  }
}
.title-to-start-contact {
  font: var(--h3-DM-large);
  padding-top: 80px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
}
.input-to-start-contact {
  width: 100%;
  height: 48px;
  border-radius: 24px;
  padding-inline: 24px;
  margin-bottom: 16px;
  border: none;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  cursor: pointer;
  font: var(--body-sans);
  color: var(--color-secondary-SanJuanBlue);
  font-weight: 700;
}
.input-to-start-contact::placeholder {
  font: var(--body-sans);
  font-weight: 700;
  color: var(--color-secondary-SanJuanBlue-50);
}

.btn-primary-light-contact {
  width: 100%;
  height: 48px;
  background-color: #ba4270;
  color: #fbfcfe;
  border-radius: 24px;
  border: none;
  font: var(--body-sans);
  font-weight: 700;
  letter-spacing: -0.115px;
  cursor: pointer;
}
.btn-primary-light-contact:hover {
  background-color: #da6d97;
  color: #fbfcfe;
  border-radius: 24px;
} 
