@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    padding: 0;
  }
  .page-main {
    padding-inline: 0; 
    padding-left: 165px;
  }
  .page-header__text {
    font: var(--h1-DM-small);
    padding-bottom: 43px;
    padding-inline: 0; 
    padding-left: 165px;
    width: 830px;
    text-align: left;
  }
  .form {
    width: 445px;
  }
}
