@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    padding: 0;
  }
  .page-main {
    padding-inline: 0;
    padding-left: 165px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    align-items: start;
  }
  .page-header__text {
    font: var(--h1-DM-small);
    padding-bottom: 43px;
    padding-inline: 0;
    padding-left: 165px;
    width: 830px;
    text-align: left;
  }
  .form {
    width: 445px;
  }
  .client-text {
    text-align: left;
    width: 445px;
  }
  .clients_logo .clients__wrap {

    padding: 40px 0;
  }
}
