@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    padding: 0;
  }
  .page-container {
    max-width: 1440px;
    padding-inline: 165px;
  }
  .page-main {
    padding-inline: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 125px;
    align-items: start;
  }
  .page-header__text {
    font: var(--h1-DM-small);
    padding-bottom: 43px;
    padding-inline: 0;
    width: 830px;
    text-align: left;
  }
  .form {
    width: 445px;
  }
  .client-text {
    text-align: left;
    width: 445px;
  }
  .clients_logo .clients__wrap {
    padding: 40px 0;
  }
  .input-to-start-contact {
    position: absolute;
    left: 880px;
    width: 445px;
    top: 900px;
  }
  .btn-primary-light-contact {
    position: absolute;
    left: 1155px;
    width: 173px;
    top: 900px;
  }
  .title-to-start-contact{
    position: absolute;
    left: 165px;
    top: 820px;
    font: var(--h2-DM);
    
  }
  .form__button{
    margin-bottom: 93px;
  }
}
