@import url(../assets/variables.css);
@import url(../images/checkbox.svg);
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}
.img {
  position: absolute;
  top: -240px;
  right: -260px;
  width: 480px;
  height: 390px;
  z-index: 1;
  pointer-events: none;
  opacity: 1;
}
body {
  /* Layout Properties */
  background-color: #edf3f8;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0rem;
  left: 0rem;
  /* width: 23.438rem; */
  height: 170.25rem;
  /* UI Properties */
  background: var() 0% 0% no-repeat padding-box;
  opacity: 1;
  max-width: 375px;
  position: relative;
  z-index: 0;
  padding-top: 160px;

  --ball-size: 480px;
  --ball-height: 390px;
  --ball-top: -240px;
  --ball-right: -260px;
}

body::before {
  content: "";
  position: absolute;
  top: var(--ball-top);
  right: var(--ball-right);
  width: var(--ball-size);
  height: var(--ball-height);
  border-radius: 50%;
  background-color: var(--color-secondary-SanJuanBlue-25);
  z-index: 0;
}

header,
h1 {
  /* Layout Properties */
  top: 129px;
  left: 24px;
  width: 327px;
  height: 44px;
  /* UI Properties */
  text-align: center;
  letter-spacing: -0.43px;
  color: var(--color-secondary-SanJuanBlue);
  opacity: 1;
  margin-bottom: 44px;
  font-size: 32px;
  font-weight: lighter;
  font-family: "DM Serif Display", serif;
}
.free-plan,
.basic-plan,
.premium-plan {
  /* Layout Properties */
  top: 13.563rem;
  left: 1.5rem;
  width: 20.438rem;
  height: 12.313rem;
  /* UI Properties */
  opacity: 1;
  margin-bottom: 9px;
}
.plan-one,
.plan-two,
.plan-three {
  top: 217px;
  left: 24px;
  width: 327px;
  height: 33px;
  /* UI Properties */
  text-align: center;
  letter-spacing: -0.18px;
  color: var(--color-primary-DarkPink);
  opacity: 1;
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  font-weight: 100;
}
.about-plan-one,
.about-plan-two,
.about-plan-three {
  /* Layout Properties */
  top: 259px;
  left: 24px;
  width: 327px;
  height: 45px;
  /* UI Properties */
  text-align: center;
  font: normal normal 200 15px/28px var(--body-sans);
  letter-spacing: 0px;
  opacity: 1;
  /* UI Properties */
  color: var(--color-secondary-LightSanJuanBlue);
  opacity: 1;
  display: flex;
  margin-bottom: 33px;
  margin-left: 24px;
  margin-right: 24px;
}
.price {
  /* Layout Properties */
  top: 337px;
  left: 24px;
  width: 327px;
  height: 77px;
  /* UI Properties */
  text-align: center;
  letter-spacing: -0.43px;
  color: var(--color-secondary-SanJuanBlue);
  opacity: 1;
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: "DM Serif Display", serif;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.access {
  top: 46.063rem;
  left: 6.5rem;
  width: 10.5rem;
  height: 3rem;
  /* UI Properties */
  border: 0.063rem solid var(--color-secondary-SanJuanBlue);
  border-radius: 1.5rem;
  opacity: 1;
  background-color: #edf3f8;
  cursor: pointer;
  font-style: var(--body-sans);
  color: var(--color-secondary-SanJuanBlue);
  margin-bottom: 55px;
  margin-top: 15px;
  font-weight: 850;
  letter-spacing: -0.12px;
}
.access:hover {
  background-color: var(--color-secondary-SanJuanBlue);
  color: var(--color-primary-LinkWaterWhite);
}

.free-plan-prc,
.basic-plan-prc,
.premium-plan-prc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr {
  width: 327px;
  height: 1px;
  background-color: var(--color-secondary-SanJuanBlue);
  border: none;
  opacity: 25%;
}
.main-prc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
ul {
  list-style: none;
  padding-left: 0;
  font-family: var(--h3-Sans-small);
  margin-top: 27px;
  left: 121px;
  width: 129px;
  height: 235px;
  margin-bottom: 15px;
  /* UI Properties */
  opacity: 1;
}

li {
  /*position: relative;*/
  font: normal normal, var(--h3-Sans-small);
  top: 446px;
  left: 157px;
  width: 93px;
  height: 19px;
  text-align: left;
  letter-spacing: 0.7px;
  color: var(--color-secondary-SanJuanBlue);
  opacity: 1;
  font-size: 16px;
  font-weight: 10;
}
li .checked {
  color: var(--color-secondary-SanJuanBlue);
}
li.unchecked {
  color: var(--color-secondary-SanJuanBlue);
  opacity: 50%;
  padding-top: 10px;
}

li.checked::before {
  content: "";
  position: relative;
  display: block;
  /* Layout Properties */
  width: 12px;
  height: 8px;
  overflow: hidden;
  left: -35px;
  right: 32px;
  top: 15px;
  /* UI Properties */
  border: 2px solid var(--color-primary-DarkPink);
  opacity: 1;
  background-color: var(--color-primary-DarkPink);
  mask: url(../images/checkbox.svg) no-repeat center;
}
@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
  }

  header h1 {
    grid-column: 1 / -1;
    font-size: 56px;
    margin-bottom: 96px;
    text-align: left;
  }

  .main-prc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:
      auto
      auto
      auto
      auto
      auto
      auto;
    gap: 30px 49px;
    max-width: 1100px;
    margin: auto 160px;
    align-items: start;
  }
  .free-plan {
    grid-column: 1;
    grid-row: 2;
  }

  .basic-plan {
    grid-column: 2;
    grid-row: 2;
  }

  .premium-plan {
    grid-column: 3;
    grid-row: 2;
  }

  .free-plan-prc {
    grid-column: 1;
    grid-row: 3;
      justify-self: left;
  }

  .basic-plan-prc {
    grid-column: 2;
    grid-row: 3;
    justify-self: left;
  }

  .premium-plan-prc {
    grid-column: 3;
    grid-row: 3;
    justify-self: left;
  }

  .access:nth-of-type(1) {
    grid-column: 1;
    grid-row: 5;
    justify-self: left;
  }

  .access:nth-of-type(2) {
    grid-column: 2;
    grid-row: 5;
    justify-self: left;
  }

  .access:nth-of-type(3) {
    grid-column: 3;
    grid-row: 5;
    justify-self: left;
  }

  .plan-one,
  .plan-two,
  .plan-three {
    font-size: 32px;
    text-align: left;
  }
li.checked{
  color: var(--color-secondary-SanJuanBlue)
  opacity: 100%;
}
li.unchecked{
  color: var(--color-secondary-SanJuanBlue);
  opacity: 50%;
}
  .about-plan-one,
  .about-plan-two,
  .about-plan-three {
    width: 300px;
     margin: 0px;
     padding-top:24px;
     padding-bottom: 90px;
    font-size: 15px ;
    line-height: 28px;
    text-align: left;
    font: var(--body-sans);
    opacity: 70%;
  }

  .price {
    font-size: 56px;
    text-align: left;
    font:var(  --h2-DM)
    
  }

  .main-prc ul.prices {
    grid-row: 4;
  }
 
.hr-one{
 display: flex;
 position: absolute;
 top: 500px;
 bottom: 210px;
}
.hr-two{
 position: absolute;
 top: 815px;
 left: 163px;
}
.hr-three{ 
  position: absolute;
  top: 500px;
  left:533px
}
.hr-four{
  position: absolute;
 top: 815px;
 left: 535px;
}
.hr-five{
  position: absolute;
  top: 500px;
  left: 910px;
}

.hr-six{
  position: absolute;
  bottom: 532px;
  left: 910px;
}

.access {
  width: 168px;
  margin-top:-20px;
}

body::before {
  top: -527px;
  left: 800px;
  width: 780px;
  height: 780px;
  opacity: 1;
}
.free-plan ul.prices,
.basic-plan ul.prices,
.premium-plan ul.prices {
  grid-row: 4;
  
}
.free-plan-prc{
padding-left: 20px;
}
.basic-plan-prc,.premium-plan-prc{
  padding-left:10px ;
}
ul{
  margin: 0px;
  font: var(--body-sans);
  line-height: 20px;
}



  

