@import url(../assets/variables.css);
@import url(../images/checkbox.svg);
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}
.img {
  position: absolute;
  top: -240px;
  right: -260px;
  width: 480px;
  height: 390px;
  z-index: 1;
  pointer-events: none;
  opacity: 1;
}
body {
  /* Layout Properties */
  background-color: #edf3f8;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0rem;
  left: 0rem;
  /* width: 23.438rem; */
  height: 170.25rem;
  /* UI Properties */
  background: var() 0% 0% no-repeat padding-box;
  opacity: 1;
  max-width: 375px;
  position: relative;
  z-index: 0;
  padding-top: 160px;

  --ball-size: 480px;
  --ball-height: 390px;
  --ball-top: -240px;
  --ball-right: -260px;
}

body::before {
  content: "";
  position: absolute;
  top: var(--ball-top);
  right: var(--ball-right);
  width: var(--ball-size);
  height: var(--ball-height);
  border-radius: 50%;
  background-color: var(--color-secondary-SanJuanBlue-25);
  z-index: 0;
}

header,
h1 {
  /* Layout Properties */
  top: 129px;
  left: 24px;
  width: 327px;
  height: 44px;
  /* UI Properties */
  text-align: center;
  letter-spacing: -0.43px;
  color: var(--color-secondary-SanJuanBlue);
  opacity: 1;
  margin-bottom: 44px;
  font-size: 32px;
  font-weight: lighter;
  font-family: "DM Serif Display", serif;
  padding-left: 4px;

}
.free-plan,
.basic-plan,
.premium-plan {
  /* Layout Properties */
  top: 13.563rem;
  left: 1.5rem;
  width: 20.438rem;
  height: 12.313rem;
  /* UI Properties */
  opacity: 1;
  margin-bottom: 10px;
}
.plan-one,
.plan-two,
.plan-three {
  top: 217px;
  left: 24px;
  width: 327px;
  height: 33px;
  /* UI Properties */
  text-align: center;
  letter-spacing: -0.18px;
  color: var(--color-primary-DarkPink);
  opacity: 1;
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  font-weight: 100;
  padding-left: 12px;
  margin-bottom: 10px;
}
.about-plan-one,
.about-plan-two,
.about-plan-three {
  /* Layout Properties */
  top: 259px;
  left: 30px;
  width: 310px;
  height: 45px;
  /* UI Properties */
  text-align: center;
  font: normal normal  15px/28px var(--body-sans);
  letter-spacing: 0px;
  opacity: 80%;
  /* UI Properties */
  color: var(--color-secondary-LightSanJuanBlue);
  opacity: 1;
  display: flex;
  margin-bottom: 35px;
  margin-left: 24px;
  margin-right: 34px;
  line-height: 28px;
  font-weight: 100;
}
.price, .price-two, .price-three {
  /* Layout Properties */
  font: var(--h2-DM);
  top: 337px;
  left: 28px;
  width: 327px;
  height: 77px;
  /* UI Properties */
  text-align: center;
  letter-spacing: -0.43px;
  color: var(--color-secondary-SanJuanBlue);
  opacity: 1;
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.access-one, .access-two, .access-three {
  top: 46.063rem;
  left: 8.5rem;
  width: 10.5rem;
  height: 3rem;
  /* UI Properties */
  border: 0.063rem solid var(--color-secondary-SanJuanBlue);
  border-radius: 1.5rem;
  opacity: 1;
  font: var(--body-sans);
  background-color: #edf3f8;
  cursor: pointer;
  font-style: var(--body-sans);
  color: var(--color-secondary-SanJuanBlue);
  margin-bottom: 65px;
  margin-top: 40px;
  font-weight: 800;
  letter-spacing: -0.12px;
}
.access:hover {
  background-color: var(--color-secondary-SanJuanBlue);
  color: var(--color-primary-LinkWaterWhite);
}

.free-plan-prc,
.basic-plan-prc,
.premium-plan-prc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font:normal normal 200 16px/28px Public Sans; 
  line-height: 18px;
  font-weight: 800;
  
}

hr {
  position: absolute;
  width: 327px;
  height: 1px;
  background-color: var(--color-secondary-SanJuanBlue);
  border: none;
  opacity: 25%;
}
.hr-one{
  position: absolute;
  top:770px
}
.hr-two{
  top: 465px;
}
.hr-three{
position: absolute;
top: 1120px;  
}
.hr-four{
  position: absolute;
  top:1435px;
}
.hr-five{
  position: absolute;
  top:2135px;
}
.hr-six{
  position: absolute;
  top: 1790px;
  left: 5px;
}
  
.main-prc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
ul {
  list-style: none;
  padding-left: 0;
  font-family: var(--h3-Sans-small);
  margin-top: 20px;
  left: 121px;
  width: 129px;
  height: 235px;
  margin-bottom: 15px;
  /* UI Properties */
  opacity: 1;
}

li {
  /*position: relative;*/
  font: normal normal, var(--h3-Sans-small);
  top: 444px;
  left: 157px;
  width: 93px;
  height: 19px;
  text-align: left;
  letter-spacing: 0.2px;
  line-height: 7px;
  color: var(--color-secondary-SanJuanBlue);
  font-size: 16px;
  font-weight: 300;
}

li .checked {
  color: var(--color-secondary-SanJuanBlue);
  
}
li.unchecked {
  color: var(--color-secondary-SanJuanBlue);
  font-weight: 200;
  opacity: 50%;
  padding-top: 10px;
}

li.checked::before {
display: block;
  content: "";
  position: relative;
  /* Layout Properties */
  width: 12px;
  height: 8px;
  overflow: hidden;
  left: -35px;
  top: +15px;
  right: 32px;
  top: 15px;
  /* UI Properties */
  border: 2px solid var(--color-primary-DarkPink);
  opacity: 1;
  background-color: var(--color-primary-DarkPink);
  mask: url(../images/checkbox.svg) no-repeat center;
}
@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
  }

  header h1 {
    grid-column: 1 / -1;
    font-size: 56px;
    margin-bottom: 96px;
    text-align: left;
  }

  .main-prc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:
      auto
      auto
      auto
      auto
      auto
      auto;
    gap: 30px 49px;
    max-width: 1100px;
    margin: auto 160px;
    align-items: start;
  }
  .free-plan {
    grid-column: 1;
    grid-row: 2;
  }

  .basic-plan {
    grid-column: 2;
    grid-row: 2;
  }

  .premium-plan {
    grid-column: 3;
    grid-row: 2;
  }

  .free-plan-prc {
    grid-column: 1;
    grid-row: 3;
    justify-self: left;
    
  }

  .basic-plan-prc {
    grid-column: 2;
    grid-row: 3;
    justify-self: left;
  }

  .premium-plan-prc {
    grid-column: 3;
    grid-row: 3;
    justify-self: left;
  }

  .access-one:nth-of-type(1) {
    grid-column: 1;
    grid-row: 5;
    justify-self: left;
  }

  .access-two:nth-of-type(2) {
    grid-column: 2;
    grid-row: 5;
    justify-self: left;
  }

  .access-three:nth-of-type(3) {
    grid-column: 3;
    grid-row: 5;
    justify-self: left;
  }

  .plan-one,
  .plan-two,
  .plan-three {
    font-size: 32px;
    text-align: left;
  }
  .plan-one{
    padding-top: 19px;
  }
  .plan-two{
    padding-top: 19px;
    padding-left: 4px;
  }
  .plan-three{
    padding-top: 18px;
    padding-left: 8px;
  }
  li.checked {
    color: var(--color-secondary-SanJuanBlue);
    opacity: 100%;
  }
  li.unchecked {
    color: var(--color-secondary-SanJuanBlue);
    opacity: 50%;
  }
  .about-plan-one {
    width: 350px;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 82px;
    font-size: 15px;
    line-height: 28px;
    text-align: left;
    font: var(--body-sans);
    opacity: 70%;
    letter-spacing: -0.1px;
  }
   .about-plan-two{
    width: 350px;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 83px;
    line-height: 28px;
    text-align: left;
    font: var(--body-sans);
    opacity: 70%;
    padding-left: 4px;
    letter-spacing: -0.1px;
   }
    .about-plan-three{
          width: 350px;
    margin: 0px;
    padding-top: 29px;
    padding-bottom: 83px;
    font-size: 15px;
    line-height: 28px;
    text-align: left;
    font: var(--body-sans);
    opacity: 70%;
    padding-left: 8px;
    letter-spacing: -0.1px;
    }

  .price {
   letter-spacing: 4px;
    text-align: left;
    font: var(--h2-DM);

  }
  .price-two{
  
    text-align: left;
    font: var(--h2-DM);
    padding-left: 6px;
    letter-spacing:3.5px;
  }
.price-three{
  padding-left: 9px;
    text-align: left;
    font: var(--h2-DM);
    letter-spacing: 4px;
}
  .main-prc ul.prices {
    grid-row: 4;
  }

  .hr-one {
    position: absolute;
    top: 505px;
    bottom: 210px;
    width: 349px;
  }
  .hr-two {
    position: absolute;
    top: 798px;
    left: 163px;
    width: 349px;
  }
  .hr-three {
    position: absolute;
    top: 505px;
    left: 538px;
    width: 349px;
  }
  .hr-four {
    position: absolute;
    top: 798px;
    left: 540px;
    width: 349px;
  }
  .hr-five {
    position: absolute;
    top: 505px;
    left: 919px;
    width: 349px;
  }

  .hr-six {
    position: absolute;
    bottom:505px;
    left: 918px;
  }

  .access-one, .access-two, .access-three {
    width: 168px;
    margin-top: -52px;
  }
  .access-two{
    margin-left: 4px;
  }
  .access-three{
    margin-left: 8px;
  }

  body::before {
    top: -527px;
    left: 800px;
    width: 780px;
    height: 780px;
    opacity: 1;
  }
  .free-plan ul.prices,
  .basic-plan ul.prices,
  .premium-plan ul.prices {
    grid-row: 4;
  
  }
  .free-plan-prc {
    padding-left: 17px;
    padding-top: 12px;
    letter-spacing: -20px;
    
  }
 
  .premium-plan-prc {
   padding-left: 14px;
    padding-top: 13px;
    letter-spacing: -1px;
  }
   .basic-plan-prc{
       padding-left: 10px;
    padding-top: 13px;
    letter-spacing: -2px;
  
   }
  ul {
    margin: 0px;
    font: var(--body-sans);
    line-height: 19px;
  }
}
@media (min-width: 768px)and (max-width: 1439px) {
  body {
    max-width: 768px;
  }
  header h1 {
    font: var(--h2-DM);
    margin-bottom: 57px;
    text-align: center;
    padding-left: 272px;
  }

  .main-prc {
    display: grid;
    grid-template-columns: repeat(3,minmax(0, 1fr));
    grid-template-rows:
      auto
      auto
      auto;
    gap: 6px 250px;
    max-width: 300px;
    align-items: center;
    margin-left: 39px;
    margin-right: 39px;
   
   
  }
  .free-plan {
    grid-column: 1;
    grid-row: 2;
    font: var(--h4-DM);
  
    
  }

  .basic-plan {
    grid-column: 2;
    grid-row: 2;
    font: var(--h4-DM);
  
  
  }

  .premium-plan {
    grid-column: 3;
    grid-row: 2;
    font: var(--h4-DM);
   
  }

  .free-plan-prc {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    
  }

  .basic-plan-prc {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
  }

  .premium-plan-prc {
    grid-column: 3;
    grid-row: 3;
    justify-self: center;
  }

  .access-one:nth-of-type(1) {
    grid-column: 1;
    grid-row: 5;
    justify-self: center;
  }

  .access-two:nth-of-type(2) {
    grid-column: 2;
    grid-row: 5;
    justify-self: center;
  }

  .access-three:nth-of-type(3) {
    grid-column: 3;
    grid-row: 5;
    justify-self: center;
  }

  .about-plan-one
 {
    width: 270px;
    margin:0;
    padding-top: 35px;
    padding-bottom: 71px;
    font: var(--body-sans);
    text-align: center;
    font: var(--body-sans);
    opacity: 70%;
   padding-right:50px;
   font-weight: 100;
   font-size: 15px;
  }
.about-plan-two{
      width: 270px;
    margin:0;
    padding-top: 35px;
    padding-bottom: 70px;
    font: var(--body-sans);
    text-align: center;
    font: var(--body-sans);
    opacity: 70%;
   padding-right:80px;
   font-weight: 100;
   font-size: 15px;
}
.about-plan-three, p{
    width: 325px;
    margin:0;
    padding-top: 34px;
    padding-bottom: 71px;
    font: var(--body-sans);
    text-align: center;
  
    opacity: 70%;
   padding-right:100px;
   font-weight: 100;
   font-size: 15px;
}

  .price {
    font: var(--h2-DM);
    text-align: center;
   
    padding-right: 105px;
    padding-top: 65px; 
  }
  .price-two{
     font: var(--h2-DM);
    text-align: center;
   
    padding-right: 140px;
    padding-top: 69px; 
  }
  .price-three{
     font: var(--h2-DM);
    text-align: center;
    font: var(--h2-DM);
    padding-right: 185px;
    padding-top: 70px; 
  }
  
  
  .premium-plan-prc {
    
    font: var(--body-sans);
    line-height: 17px;
    width: 129px;
    padding-top:45px ;
    padding-right: 25px;
    padding-bottom: 0;
    margin: 0;
   
    
    
  }
  .free-plan-prc{
    font: var(--body-sans);
    line-height: 17px;
    width: 129px;
    padding-top:46px ;
    padding-left: 15px;
     padding-left: 255px;
     padding-bottom: 0;
     margin: 0;
  }
  .basic-plan-prc{
     font: var(--body-sans);
    line-height: 17px;
    width: 129px;
    padding-top:46px ;
    padding-left: 15px;
    padding-bottom: 0;
    margin: 0;
  }
   
 .basic-plan-prc,
  .premium-plan-prc{
 margin-left: 170px;
  }
  
  .access-one {
    font: var(--body-sans);
    width: 168px;
    margin-left: 225px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 700;
    color: var(--color-secondary-SanJuanBlue);
  }
  .access-two{
     font: var(--body-sans);
    width: 168px;
    margin-left: 192px;
    margin-bottom: 0;
    margin-top: 0px;
    font-weight: 700;
    color: var(--color-secondary-SanJuanBlue);
  }
  .access-three{
    font: var(--body-sans);
    width: 168px;
    margin-left: 160px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 700;
    color: var(--color-secondary-SanJuanBlue);
   
  }
  .plan-one{
    padding-right: 102px;
    padding-top: 25px;
    
  }
  .plan-two{
 padding-right: 137px;
 padding-top: 25px;
  }
  .plan-three{
  
     padding-right: 170px;
     padding-top: 25px;
  }
  body::before {
    top: -485px;
    left: 505px;
    width: 750px;
    height: 780px;
    opacity: 1;
  }
  .hr-one {
    position: absolute;
    top: 522px;
    bottom: 210px;
    width: 220px;
    right: 110px;
    
  }
  .hr-two {
    position: absolute;
    top: 815px;
    left: 39px;
    width: 220px;
  }
  .hr-three {
    position: absolute;
    top: 522px;
    left: 275px;
    width:220px;
  }
  .hr-four {
    position: absolute;
    top: 815px;
    left: 270px;
    width: 220px;
  }
  .hr-five {
    position: absolute;
    top: 815px;
    left: 505px;
    width: 220px;
  }

  .hr-six {
    position: absolute;
   width:220px;
    left: 505px;
    top: 522px;
  }
  }
  
