@import url(../assets/variables.css);

/*Layout Properties*/
.ready-to-start {
  margin-left: auto;
  margin-right: auto;
  top: 76.625rem;
  left: 1.5rem;
  width: 20.5rem;
  height: 11.0625rem;
  /*UI Properties*/
  opacity: 1;
}
/*Layout Properties*/
.title-to-start {
  top: 76.625rem;
  width: 20.5rem;
  height: 2.75rem;
  /* UI Properties */
  text-align: center;
  letter-spacing: -0.0156rem;
  color: var(--color-secondary-SanJuanBlue);
  opacity: 1;
  font-size: 2.5rem;
}

input::placeholder {
  padding: 2rem;
}
.input-to-start {
  /* Layout Properties*/
  top: 80.6875rem;
  left: 1.5;
  width: 20.3125rem;
  height: 3rem;
  /* UI Properties */
  border-radius: 1.5rem;
  opacity: 1;
  border: none;
  box-shadow: var(--color-secondary-SanJuanBlue) 0.1rem 0.1rem 1.25rem;
  font-family: var(--h3-Sans-small);
  margin-bottom: 1.5rem;
}
.btn-primary-light {
  /* Layout Properties */
  top: 84.6875rem;
  left: 1.5rem;
  width: 20.8rem;
  height: 3rem;
  /* UI Properties */
  background: var(--color-primary-DarkPink) 0% 0% no-repeat padding-box;
  border-radius: 1.5rem;
  opacity: 1;
  border: none;
  cursor: pointer;
}
.schedule {
  /*Layout Properties*/
  top: 86.125rem;
  left: 28.813rem;
  width: 7.625rem;
  height: 1.063rem;
  /*UI properties*/
  text-align: left;
  letter-spacing: -0.008;
  color: var(--color-primary-LinkWaterWhite);
  opacity: 1;
  font-family: var(--h3-Sans-small);
}
