@media (min-width: 768px) and (max-width: 1439px) {
  body {
    max-width: 768px;
  }
  .page-container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }
  .page-main {
    padding-inline: 97px;
  }
  .page-header {
    padding-bottom: 0;
  }
  .page-header__text {
    font: var(--h2-DM);
    padding-bottom: 54px;
    padding-inline: 97px;
  }
  .ready-to-start_component {
    margin-bottom: 100px;
  }
  .btn-primary-light-contact {
    width: 173px;
    position: absolute;
    left: 445px;
  }
  .input-to-start-contact {
    width: 445px;
    position: absolute;
    left: 150px;
  }
  .title-to-start-contact {
    font: var(--h2-DM);
  }
  .title-to-start-contact {
    position: absolute;
    top: 1100px;
    padding-bottom: 40px;
    left: 230px;
  }
  .clients_logo {
    margin-bottom: 200px;
  }
}
