@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital,wght@0,400;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* PRIMARY Colors */
  --color-primary-DarkPink: #ba4270;
  --color-primary-LinkWaterWhite: #fbfcfe;

  /* SECONDARY Colors */
  --color-secondary-SanJuanBlue: #36536b;
  --color-secondary-MirageBlue: #1b262f;
  --color-secondary-CharmPink-Act: #da6d97;
  --color-secondary-LightSanJuanBlue: #6c8294;
  /* ERROR */
  --color-error: #f00000;

  /* TYPOGRAPHY */
  --h1-DM-large: 400 72px/72px "DM Serif Display", serif;
  --h1-DM-small: 400 56px/56px "DM Serif Display", serif;
  --h2-DM: 400 48px/56px "DM Serif Display", serif;
  --h3-DM-large: 400 32px/40px "DM Serif Display", serif;
  --h3-Sans-small: 400 18px/25px "Public Sans", sans-serif;
  --h4-DM: 400 24px/32px "DM Serif Display", serif;
  --body-sans: 400 15px/28px "Public Sans", sans-serif;
}

.btn-primary-light{
  background-color: var(--color-secondary-DarkPink);
  color: var(--color-secondary-LinkWaterWhite);
  border-radius: 24px;
}

.btn-primary-light:hover{
  background-color: var(--color-secondary-CharmPink-Act);
  color: var(--color-secondary-LinkWaterWhite);
  border-radius: 24px;
}

.btn-primary-light-disabled{
  background-color: var(--color-secondary-DarkPink);
  color: var(--color-secondary-LinkWaterWhite);
  border-radius: 24px;
  opacity: 50%;
}


.btn-secondary-light{
  background-color: #ffffff00;
  color: var(--color-secondary-LinkWaterWhite);
  border-radius: 24px;
  
  border: 1px solid var(--color-secondary-LinkWaterWhite);
}


.btn-secondary-light:hover{
  background-color: #ffffff;
  color: var(--color-secondary-LinkWaterWhite);
  border-radius: 24px;
  
  border: 1px solid var(--color-secondary-LinkWaterWhite);
}

.btn-secondary-light-disabled{
  background-color: #ffffff00;
  color: var(--color-secondary-LinkWaterWhite);
  border-radius: 24px;
  opacity: 50%;
  
  border: 1px solid var(--color-secondary-LinkWaterWhite);
}
@media screen and (max-width: 600px) {
  .btn-primary-light{
    background-color: #BA4270;
    color: var(--color-secondary-LinkWaterWhite);
    border-radius: 24px;
    width: 372px;
    height: 48px;
  }

  .btn-primary-light:hover{
    background-color: #DA6D97;
    color: var(--color-secondary-LinkWaterWhite);
    border-radius: 24px;
    width: 372px;
    height: 48px;
  }

  .btn-primary-light-disabled{
    background-color: #BA4270;
    color: var(--color-secondary-LinkWaterWhite);
    border-radius: 24px;
    opacity: 50%;
    width: 372px;
    height: 48px;
  }

  .btn-secondary-dark{
    background-color: #ffffff00;
    color: var(--color-secondary-LinkWaterWhite);
    border-radius: 24px;

    border: 1px solid #36536B; 
  }

  .btn-secondary-dark:hover{
    background: #36536B 0% 0% no-repeat padding-box;
    color: var(--color-secondary-LinkWaterWhite);
    border-radius: 24px;

    border: 1px solid #36536B; 
  }

  .btn-secondary-dark-disabled{
    background-color: #ffffff00;
    color: var(--color-secondary-LinkWaterWhite);
    border-radius: 24px;
    opacity: 50%;

    border: 1px solid #36536B; 
  }
}

.btn-secondary-light-disabled{
  background-color: #ffffff00;
  color: var(--color-secondary-LinkWaterWhite);
  border-radius: 24px;

  border: 1px solid var(--color-secondary-LinkWaterWhite);
}

.btn-secondary-dark{
  background-color: #ffffff00;
  color: var(--color-secondary-LinkWaterWhite);
  border-radius: 24px;

  border: 1px solid var(--color-secondary-SanJuanBlue); 
}

.btn-secondary-dark:hover{
  background: var(--color-secondary-SanJuanBlue) 0% 0% no-repeat padding-box;
  color: var(--color-secondary-LinkWaterWhite);
  border-radius: 24px;

  border: 1px solid var(--color-secondary-SanJuanBlue); 
}

.btn-secondary-dark-disabled{
  background-color: #ffffff00;
  color: var(--color-secondary-LinkWaterWhite);
  border-radius: 24px;
  opacity: 50%;

  border: 1px solid var(--color-secondary-SanJuanBlue); 
}