@import url(../assets/variables.css);

/*Layout Properties*/
.ready-to-start {
 margin-left: auto;
 margin-right: auto;
  top: 79.5rem;
  left: 10.125rem;
  width: 27.813rem;
  height: 8.625rem;
  /*UI Properties*/
  opacity: 1;

}
/*Layout Properties*/
.title-to-start {
  top: 79.5rem;
  left: 7.875rem;
  width: 27.813rem;
  height: 4.125rem;
  /* UI Properties*/
  text-align: center;
  letter-spacing: -0.023rem;
  color: var(--color-secondary-SanJuanBlue);
  opacity: 1;
  font-size: 2rem;
}

.input-container {
  position: relative;
  display: inline-block;
}
input::placeholder{
    padding: 2.5rem;
    font-family:  var(--h3-Sans-small);

}
.input-to-start {
  /* Layout Properties*/
  padding-right: 2.5rem;
  top: 85.125rem;
  left: 10.125rem;
  width: 27.813rem;
  height: 3rem;
  /*UI Properties*/
  border-radius: 1.5rem;
  opacity: 1;
  border: none;
  box-shadow: 0.1rem 0.1rem 1.25rem var(--color-secondary-SanJuanBlue);
  padding-left: 1.5rem;
}
.demo {
  /* Layout Properties */
  position: absolute;
  left: 21rem;
  width: 10.813rem;
  height: 3.2rem;
  /* UI Properties */
  background: var(  --color-primary-DarkPink) 0% 0% no-repeat padding-box;
  border-radius: 1.5rem;
  opacity: 1;
  border: none;
  cursor: pointer;
}
.schedule {
  /*Layout Properties*/
  top: 86.125rem;
  left: 28.813rem;
  width: 7.625rem;
  height: 1.063rem;
  /*UI properties*/
  text-align: left;
  letter-spacing: -0.008;
  color: var(  --color-primary-LinkWaterWhite);
  opacity: 1;
  font-family: var(--h3-Sans-small);
}

